@charset "UTF-8";

body {

    background-color: cadetblue;
    margin-top: 50px;
}

#container {

    border: 2px solid black;
    width: 700px;
    height: 700px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
}

#container:hover {

    background-color: rgba(0, 255, 255, 0.11);
}

h1 {

    text-align: center;
}

header {

    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

input {

    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    vertical-align: middle;
    display: inline-block;
}

div#label {

    vertical-align: middle;
    display: inline-block;
    margin: 10px 0 10px 0;  
        
}

.radio {

    height: 20px;
    width: 20px; 
}

section {

    background-color: white;
    width: 500px;
    padding: 15px;
    border-radius: 10px;
    margin: auto;
    box-shadow: 2px 2px 10px black;
}

#res {

    text-align: center;
    margin-bottom: 10px;
    font-size: 2em;
}

#resp {

    text-align: center;
    font-size: 2em;
    font-weight: bolder;
}

img {

    display: block;
    margin: auto;

}

footer {

    text-align: center;
}