@charset "UTF-8";

body {

   /* background-color: rgb(70, 142, 236); */
    /* background-color: rgba(3, 3, 51, 0.664); */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {

    text-align: center;
}

#msg {

    text-align: center;
    padding: 10px;
    font-weight: bolder;
}

#imagem {

    display: block;
    margin: auto;
}

#txt {

    text-align: center;
    padding: 10px;
}
section {

    background-color: white;
    width: 320px;
    height: 320px;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    box-shadow: 2px 2px 10px black;
}

footer {

    text-align: center;
    font-style: italic;
}