@charset "UTF-8";

body {

    background-color: beige;
}
h1 {

    text-align: center;
    margin-bottom: 50px;
}

section {

    background-color: white;
    width: 450px;
    height: 350px;
    text-align: center;
    margin: auto;
    border-radius: 15px;
}

#imagem {

    margin-top: 30px;

}

div#res {

    padding-top: 24px;
    text-align: center;
    font-size: 1.3em;
    font-weight: bolder;
}


#res1 {

    margin-top: 20px;
    text-align: center;
}

input {

    width: 70%;
    margin-top: 5px;
    margin-bottom: 5px;
    vertical-align: middle;
    padding: 5px;
    font-size: 1.3em;
    border-radius: 10px;
    box-shadow: 2px 2px 5px;
}

#inputs {

    width: 350px;
    display: block;
    margin: auto;
}

#botao {
    
    padding: 0;
    width: 110px;
    font-size: 1em;
    border-radius: 3px;
    box-shadow: none;
    margin-bottom: 10px;
    
}