@charset "UTF-8";


body {

    background-color: rgb(150, 196, 197);
    font-family: cursive;
    margin: 0 auto;
    text-align: center;
}

h1 {

    margin-top: 30px;   
}

#sessao01 {

    background-color: cadetblue;
    width: 600px;
    height: 550px;
    border-radius: 10px;
    margin: auto;
    padding: 30px 20px 0 20px;
}

#input {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}

input {

    margin-left: 5px;
    padding: 5px;
    border-radius: 10px;
}


label {

    vertical-align: middle;
    font-size: 1.3em;
}

#imasc, #ifem {

    margin-top: 40px;
    width: 20px;
    height: 20px;
    
}

.botao:hover {

    background-color: beige;
}

.foto {

    margin-top: 70px
}

#resp {

    margin-top: 15px;
    margin-bottom: -15px;
    font-size: 1.7em;
}

#res {
    margin-top: 7px;
    font-size: 2em;
}


strong, p {

    animation: fadeinfadeout 0.8s linear infinite;
}

@keyframes fadeinfadeout {

    0% {opacity: 0;}
    50% {opacity: 0.2;}
    100% {opacity: 1;}
}

p {

    display: inline-block;
    
}

@media screen and (max-width: 828px) and (orientation: portrait) {

    #sessao01 {

        
        width: 400px;
        height: 550px;
    }

    h1 {

        font-size: 1.5em;
    }

}