@charset "UTF-8";

body {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
}

h1 {

    color: red;
    
}

#res {

    margin-top: 30px;
    border: 2px double;
    width: 450px;
    padding: 10px;
    box-shadow: 2px 2px 5px black;
}

.in1, .in2 {

    width: 100px;
    height: 30px;
    background-color: aqua;
    color: red;
    font-size: 1.2em;
    /* border-width: 100px; */

}