@charset "UTF-8";

body {

    background-color: aquamarine;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {

    text-align: center;
}

section {

    background-color: white;
    margin: auto;
    border-radius: 15px;
    padding: 10px;
}

footer {

    text-align: center;
}