@charset "UTF-8";

body {

    background-color: rgb(43, 136, 243);
    font-size: 1.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {

    text-align: center;
}
section {

    margin: auto;
    background-color: white;
    width: 500px;
    border-radius: 10px;
    box-shadow: 2px 2px 15px;
    padding: 15px;
}

select {

    width: 150px;
    margin-top: 20px;
}

footer {

    text-align: center;
    margin-top: 20px;
}